body{
	margin:0;
	padding:0;
	height:100%;
}

.header{
	margin-top: -20px;
	width:100%;
	height:50px;
	text-align: center;
}

.footer{
	position:absolute;
    bottom:0;
	width:100%;
	text-align: center;
}

.contenedor{
	overflow-y: scroll;
	position: fixed;
	padding:10px;
	width:100%;
	height:70%;
}

.frmButton{
	display:inline;
}

section{
	display: -webkit-inline-box;
	width:80%;
	height:80%;
}

aside{
	position: absolute;
	display: inline-block;
	width:19%;
}

.mensaje{
	font-weight: bold;
	font-size:15px;
}

.errores{
	background: #C32E2E;
	color: #fff;
	display: none;
	font-size: 14px;
	padding: 10px;
	position: relative;
}

.erroresLogin{
	background: #C32E2E;
	color: #fff;
	display: none;
	font-size: 14px;
	padding: 10px;
	position: relative;
	text-align:center;
}

.invisible{
	display:none;
}

.frmDiv{
	display: block;
    margin: 2%;
    padding: 1%;
	border: 1px solid orange;
}

.botonera{
	padding:2%;
}