<form method="post" action="acciones.php" id="frmAltaDtalle">
	<h3> Nuevo detalle de operacion</h3>
	<h2> Ingrese los datos y guarde</h2>
		
	<div id="errores" class="errores">
		<ul id="listado">
		</ul>
	</div>	
		
	<div class="form-group">
		<label for="descripcion">Descripci&oacuten</label>
		<input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="Introduce una descripcion" required>
	</div>
	
	<input type="hidden" name="opt" id="opt" value="1">	

	<button type="button" id="bEnviar2" class="btn btn-primary pull-right" onclick="validaForm();">Guardar</button>
	<button type="button" id="cancelar" class="btn btn-primary pull-left" onclick="$('#frmAlta').empty();">Cancelar</button>

</form>
