<form method="post" action="acciones.php" class="frmDiv" id="frmAltaDtalle">
	<h2> Nuevo detalle de operacion</h2>
	<h4> Ingrese los datos y guarde</h4>
		
	<div id="errores" class="errores">
		<ul id="listado">
		</ul>
	</div>		
	<div class="form-group">
		<label for="descripcion">Descripci&oacuten</label>
		<input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="Introduce una descripcion" required>
	</div>
	
	<input type="hidden" name="opt" id="opt" value="1">	

	<div id="botonera">
		<button type="button" id="bEnviar2" class="btn btn-default" onclick="validaForm();">Guardar</button>
		<button type="button" id="cancelar" class="btn btn-default" onclick="$('#frmAlta').empty();">Cancelar</button>
	</div>	
</form>
