<head>
	<!-- Carrusel -->
	<!-- Required CSS -->
	<link type="text/css" href="../resources/css/fancymoves/fancymoves.css" media="screen" rel="stylesheet"  />

	<!-- Required script -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
	<script type="text/javascript" src="../resources/js/fancymoves/slider.js"></script>

	<!-- Demo only -->
	<link type="text/css" href="../resources/css/fancymoves/demo.css" media="screen" rel="stylesheet"  />
	<script type="text/javascript" src="../resources/js/fancymoves/demo.js"></script>

	<!-- FancyBox scripts -->
	<script type="text/javascript" src="../resources/js/fancymoves/jquery.mousewheel-3.0.4.pack.js"></script>
	<script type="text/javascript" src="../resources/js/fancymoves/jquery.fancybox-1.3.4.pack.js"></script>
	<link rel="stylesheet" type="text/css" href="../resources/css/fancymoves/jquery.fancybox-1.3.4.css" media="screen" />
 	
    
	<script type="text/javascript">
	jQ(document).ready(function() {
		jQ("a.pop1").fancybox();
	});
	</script>
	<!-- Carrusel -->
</head>


<section style="background-color: black;">
		<h1 class="white-text titulo">Pics of Us</h1>
	
		<!-- Slider -->
		<div id="slider-one">
			<div>
				<img src="../resources/img/header.jpg" alt="" />
				<p><a class="pop1"></a></p>
			</div>
			<div>
				<img src="../resources/img/header.jpg" alt="" />
				<p><a class="pop1"></a></p>
			</div>
			<div>
				<img src="../resources/img/header.jpg" alt="" />
				<p><a class="pop1"></a></p>
			</div>
			<div>
				<img src="../resources/img/header.jpg" alt="" />
				<p><a class="pop1"></a></p>
			</div>							
		</div>
		<!-- /Slider -->
</section>

