<script>
function valida(){

	$("#errores").stop();
	$("input").css("border-color","#ccc");
	$("#listado").empty();
		
	hayError = false;
	usuario = $("#usuario").val();
	
	if(isNaN(usuario)||(usuario == "")){
		$("#listado").append($("<li></li>").text("Ingrese correctamente el usuario para continuar"));  
		hayError = true;
	}
					
	if(hayError){
		$("#errores").fadeIn("slow");
		$("#errores").fadeOut(5000);
		return false;
	}
	
	parametros= new Array();
	valores= new Array();
	parametros[0]= 'opt';
	parametros[1]= 'dni';
		
	valores[0]= 1;
	valores[1]= usuario;
			
	result = cargarPaginaDivSinc("../extras/sesion.php", parametros, valores);
alert(result);
	if(result=="deny"){
		$("#listado").append($("<li></li>").text("No pudo iniciarse la sesion"));    
		hayError = true;
	}
			
	if(result == "success"){
		document.getElementById('inicio').submit();
	}
	else{
		//$("#listado").append($("<li></li>").text("Error de base de datos"));    
		hayError = true;
	}
	
	if(hayError){
		$("#errores").fadeIn("slow");
		$("#errores").fadeOut(5000);
		return false;
	}
}
</script>


<div id="errores" class="erroresLogin">
	<ul id="listado">
	</ul>
</div>
<div class="loginmodal-container">
	<h2>Essence</h2>
	
	<form method="POST" action="index.php" id="inicio">
		<label for="usuario">DNI</label>
		<input type="text" name="usuario" id="usuario" placeholder="DNI" required>
		<input type="button" onclick="valida()" name="login" class="login loginmodal-submit" value="Iniciar Sesi&oacute;n">
		<input type="hidden" name="opt" id="opt" value="1">
	</form>
</div>
